.status-graph-container{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
    margin-left: 30px;
}
.status-graph-title{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}