.summary-graph-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 30px;
  margin-left: 30px;
}
  
  .summary-graph-title {
    
      font-size: 17px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 1px;
  
  }
  
  .chartjs-render-monitor {
    max-width: 100% !important;
  }
  
  .chart-label {
    font-size: 12px !important;
  }
  